{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">

        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}

      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

<p> ------</p>

<p>
  | 
  <a href="https://www.twitter.com/andrewshawza"><img src="https://andrewshawza.github.io/cognitive/assets/images/twitter.png" size="50%"></a> | 
  <a href="https://www.github.com/andrewshawza"><img src="https://andrewshawza.github.io/cognitive/assets/images/github.png" size="50%"></a>  |
  <a href="https://www.linkedin.com/in/ashaw1"><img src="https://andrewshawza.github.io/cognitive/assets/images/linkedin.png" size="50%"></a> |
  <a href="https://www.medium.com/@andrewshawza"><img src="https://andrewshawza.github.io/cognitive/assets/images/medium.png" size="50%"></a> |
  <a href="https://www.goodreads.com/user/show/134980110-andrew"><img src="https://andrewshawza.github.io/cognitive/assets/images/goodreads.png" size="50%"></a> |



</p>
     
  


    </div>

  </div>

  <div id="switcher"></div>
</aside>
